$btn: #FFB800;
$btnBorder:2px solid #000;
$shadow:2px 4px 0px 0px #000;
$btnTextColor:#000000;
$inputBorder:4px solid #000;
$inputBg: #fff;
$inputText:rgba(37, 43, 66, 0.60);
$saleColor:#EA2845;
$dropdownTextColor: #252B42;
$headerBg: #418DF9;
$black: #000;
$cardBg:#03D1AA;
$white: #fff;
$offer: #03D1AA;



