
.header {
    display: flex;
    justify-content: center;
    background: #418DF9;

}

.main {
    background: linear-gradient(0deg, rgba(255, 184, 0, 0.20) 0%, rgba(255, 184, 0, 0.20) 100%), #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    

}

.form {
    display: flex;
    justify-content: center;

}

.category {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
    align-items: center;
}


.filters {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 1300px;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}